[alias]
        s  = status
        cm = commit -m
        co = checkout
        br = branch
        d  = diff
        unstage = reset HEAD --
        last = log -1 HEAD
        find = log --all --grep
        checkoutr = checkout
        cor = checkoutr
[core]
        editor = emacs
        excludesfile = /Users/mplis/.gitignore_global
